name: JavaScript CI with npm

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.13
        uses: actions/setup-node@v2
        with:
          node-version: 16.13.1
      - name: Install dependencies
        run: npm ci
        working-directory: hello-world
      - name: Run tests
        run: npm run test:unit
        working-directory: hello-world

